.congrats-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  margin: 10px;
  margin-bottom: 20px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
}
.buttons-container button {
  margin: 5px; /* Ensures no margin between buttons */
  border-top: none; /* Optional: Removes border if buttons visually "stack" together */
  border-radius: 0; /* Optional: Makes buttons seamlessly touch each other */
}

.buttons-container button:first-child {
  border-radius: 20px; /* Rounded top */
}

.buttons-container button:last-child {
  border-radius: 20px; /* Rounded bottom */
}

#congrats h2 {
  font-family: 'Impact';
  font-size: 36px; /* Big and bold */
  font-weight: 400;
  color: #FF8C00; 
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 10px;
  margin-bottom: 50px
}

.points p {
  font-family: 'Impact';
  color: #FF8C00;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 5px;
  
}