body {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    min-width: 375px;
    margin: 0;
  }

  #logo-section {
    margin-top: -250px; 
  }

  #form-section {
    margin-top: -200px; 
  }
  
  header {
    flex: 0 80px;
  }

  #header-section {
    margin-top: -200px; 
    color: #F6BF3F
  }
  
  menu {
    flex: 1;
    display: flex;
    flex-direction: row !important;
    list-style: none;
    gap: 15px;
  }
  
  main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
  }

  
input {
    border-radius: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    width: 75%;
    max-width: 250px;
  }

  button {
    border-radius: 50px; 
    background-color: #F6BF3F;
    color: white;
    border: none;
    padding: 10px 30px; 
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  
  button:hover {
    background-color: #FE9B05;
  }
  
  @media (max-height: 600px) {
    header {
      display: none;
    }
    footer {
      display: none;
    }
    main {
      flex: 1 100vh;
    }
  }

  .congrats {
    font-size: 36px;  
    font-weight: bold;
    margin-bottom: 20px; 
  }
  
  .points {
    font-size: 24px;
    margin-top: 20px; 
  }

  .image-container {
    margin-bottom: 20px;  
  }

  .buttons-container {
    display: flex;
      flex-direction: column; 
      align-items: center;     
      gap: 15px; 
  }
  