body {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    min-width: 375px;
    margin: 0;
  }

  #logo-section {
    margin-top: -150px; 
  }

  #form-section {
    margin-top: -110px;
  }
  
  header {
    flex: 0 80px;
  }

  #header-section {
    margin-top: -130px; 
    color: #F6BF3F
  }
  
  /* Navbar Styling */
  .navbar {
    background-color: #F6BF3F !important; 
    padding: 10px 20px;
  }
  
  .navbar-brand {
    text-decoration: none  !important;
    padding-left: 0.3em;
    border-bottom: solid rgb(182, 182, 182) thin;
    color: white !important;
    font-weight: bold;
  }
  
  .navbar-nav .nav-item {
    padding: 0 10px; 
  }

  .navbar-nav .nav-link {
    color: white !important;
    font-weight: 500;
    transition: 0.3s;
    padding: 10px 15px; 
  }
  
  .navbar-nav .nav-link:hover {
    color: #FE9B05 !important;
  }

  footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 8px 0; /* Keeps it smaller */
    font-size: 12px; /* Smaller text */
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}


#add-friend-section {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 11px;
}


#add-friend-section input {
    border-radius: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    width: 120px; 
}

#add-friend-section button {
    border-radius: 50px;
    padding: 5px 15px;
    font-size: 10px;
}

footer p {
    margin-top: 10px;
    font-size: 10px;
    color: #333;
}
