  /* Map Styles */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  
  /* Shapes Styling */
  .circle {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 2px solid #F6BF3F;
    border-radius: 10%;
    margin: auto;
  }
  
  .circle-1 {
    border: 2px solid #3993DD;
  }
  
  .circle-2 {
    border: 2px solid #1F01B9;
  }
  
  .circle-3 {
    border: 2px solid #EF476F;
  }
  
  .circle-4 {
    border: 2px solid #F6511D;
  }
  
  .line {
    width: 2px;
    height: 20px;
    background-color: #F6BF3F;
  }
  
  .line.top,
  .line.bottom {
    height: 40px;
  }
  
  .largecircle {
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: 4px solid #FFD166;
    border-radius: 10%;
    margin: auto;
  }
  
  .container .line {
    margin: 5px auto;
  }
  
  #checkin {
    margin-top: 20px; /* Remove absolute positioning */
  }
