/* Additional Styles for Specific Page */

/* Centering content on the page */
.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  gap: 15%;
}

/* Optional: Adjust margins for specific elements if needed */
.page-content h2{
  margin-bottom: 50px;
}
.page-content p{
  margin-top: 10px;
} 

/* Ensure images and other block elements are centered */
.page-content img {
  margin-top: 80px;
  margin-bottom: 40px;
}
.page-content iframe {
  display: block;
  margin: 0 auto;
}

/* Responsive adjustment if needed */
@media (max-width: 600px) {
  .page-content {
    padding: 10px;
  }
}

#header-section h2 {
    font-family: 'Impact';
    font-size: 36px; /* Big and bold */
    font-weight: 400;
    color: #FF8C00; 
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.page-content label {
  color: black; 
}
