.body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
  height: 100%;
}

header {
  flex: 0 80px;
  background-color: #FF8C00; 
}

main {
  background-color: #FAF9F6 !important;
  flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

footer p {
  margin-top: 10px;
  font-size: 10px;
  color: #FCFDFF;
}

footer a {
  float: right;
}

menu {
  flex: 1;
  display: flex;
  /*  overwrite Bootstrap so the menu does not wrap */
  flex-direction: row !important;
  list-style: none;
}


@media (max-height: 600px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    flex: 1 100vh;
  }
}

.navbar {
  background-color: #FFAC48 !important;
}

.navbar-brand {
  padding-left: 0.3em;
  color: #FCFDFF !important;
  font-weight: bold;
}

.navbar-nav .nav-item {
  padding: 0 10px;
}

.navbar-nav .nav-link {
  color: #FCFDFF !important;
  font-weight: 500;
  transition: 0.3s;
  padding: 10px 15px;
}

.navbar-nav .nav-link:hover {
  color: #FF8C00 !important;
}


menu .nav-item {
  padding: 0 0.3em;
}

button {
  border-radius: 20%;
  align-items: center;
  background-color: #FFAC48;
  color: #FCFDFF;
  border: none;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 100px;
  margin-top: 50px;
}
button:hover {
  background-color: #FF8C00;
}
